*.apk
.DS_Store
lib
hooks
dist
*.js
*.map
*.log
*.h5
/backend/target
/frontend/node_modules
.DS_Store
/frontend/platforms
/predict/__pycache__



# NativeScript
frontend/hooks/
frontend/node_modules/
front/endplatforms/

# Logs
frontend/logs
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# General
frontend/.DS_Store
frontend/.AppleDouble
frontend/.LSOverride
frontend/.idea
frontend/.cloud
frontend/.project
frontend/tmp/
frontend/typings/

# Visual Studio Code
frontend/.vscode/*
frontend/!.vscode/settings.json
frontend/!.vscode/tasks.json
frontend/!.vscode/launch.json
frontend/!.vscode/extensions.json
