<FlexboxLayout flexDirection="column"
               justifyContent="space-between"
               alignItems="center"
               backgroundColor="grey">

       <ns-action-bar title="SIE-AI"
                      [showBackButton]="true"
                      [hasHome]="true"></ns-action-bar>

       <Label class="h1"
              text="Sigma Industry Evolution"></Label>

       <Label class="h2"
              text="Take picture of an object"></Label>

       <StackLayout class="img"
                    height="50%"
                    width="69%"
                    verticalAlignment="center"
                    horizontalAlignment="center"
                    borderRadius="10%">

              <Image src="res://logo"
                     width="70%"
                     height="98%"
                     borderRadius="5%"></Image>

       </StackLayout>

       <Label class="h2"
              text=""></Label>

       <ns-take-picture-button part="front"
                               forwardPath="/back"></ns-take-picture-button>

       <ns-bottom-bar></ns-bottom-bar>

</FlexboxLayout>