<FlexboxLayout flexDirection="column"
               justifyContent="space-between"
               alignItems="center"
               backgroundColor="grey">

       <ns-action-bar title="SIE-AI"
                      [showBackButton]="true"
                      [hasHome]="true"></ns-action-bar>

       <Label class="h1"
              text="Sigma Industry Evolution"></Label>

       <Label class="h2"
              text="Take picture of an object"></Label>

       <StackLayout class="img"
                    height="50%"
                    width="69%"
                    backgroundColor="white"
                    verticalAlignment="center"
                    horizontalAlignment="center"
                    borderRadius="10%">

              <Image src="res://sie"
                     width="100%"
                     height="100%"
                     borderRadius="5%"></Image>

       </StackLayout>

       <Label class="h2"
              text=""></Label>

       <ns-take-picture-button part="view1"
                               forwardPath="/prediction"></ns-take-picture-button>

       <ns-bottom-bar></ns-bottom-bar>

</FlexboxLayout>