<FlexboxLayout flexDirection="column"
               justifyContent="space-between"
               alignItems="center"
               backgroundColor="#545454">

       <ns-action-bar title="SIE-AI"
                      [showBackButton]="false"
                      [hasHome]="false"></ns-action-bar>

       <Label class="h1"
              text="Welcome to SIE-AI Demo"></Label>

       <Label class="h2"
              text="Press start to take pictures"></Label>

       <StackLayout class="img"
                    height="50%"
                    width="69%"
                    backgroundColor="white"
                    verticalAlignment="center"
                    horizontalAlignment="center"
                    borderRadius="10%">

              <Image src="res://sie"
                     width="100%"
                     height="100%"
                     borderRadius="5%"></Image>

       </StackLayout>

       <Label text=""
              class="h2"></Label>

       <Button text="Start"
               class="btn btn-primary btn-rounded-lg"
               (tap)="nextPage()"></Button>

       <ns-bottom-bar></ns-bottom-bar>

</FlexboxLayout>